
.completed{
    text-decoration-line: line-through;
}

h1{
    font-family: 'Patrick Hand', cursive;
}

.main {
    max-width: 62%; /* Adjust maximum width to fit mobile screens */
}
.bg {
    background-color: #0a1a0659;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Adjust height to auto for responsiveness */
}

/* .header{
    display: flex;
    justify-content: center;
} */


.main-container{
    margin: 2%;
    margin-top: -20px;
}

.selectall{
    margin-top: -30px;
}

.dateClass{
    font-size: 1em;
    float: right;
    margin-right: 20px;
    color: rgb(16, 2, 65);
    background-color: rgb(161, 121, 203);
    padding: 0 10px;
    border-radius: 20px;
    /* visibility: hidden; */
}
.pd{
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
    color: #1a1614; /* or any other color */
  }
  
  
.mr{
    margin-right: 5px;
}

.small-dropdown {
    width: 133px;
    height: 38px;
    font-size: 16px
}

.divLine {
    display: flex;
    margin-top: -14px;
}

.line {
    flex: 1;
    white-space: nowrap; /* Prevent line breaks */
}

.mb{
    margin-bottom: -34px;
}



.containerpg{
    display: flex;
}

.btClass{
    flex: 1;
    border: 1px;
}
.pending{
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2px;
}

.inprogress{
    border-radius: 20px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    .bg {
        height: auto; /* Adjust height to auto for responsiveness */
    }
    .main {
      /* Adjust maximum width to fit mobile screens */
      margin-left: 2px; /* Center the container */
  }
}
  
  .mobile-element {
    max-width: 100%; /* Set maximum width to 100% */
    height: auto; /* Adjust height to auto for responsiveness */
    overflow-x: auto; /* Add horizontal scroll for smaller screens */
}

.table {
    width: 100%; /* Make the table width 100% */
}
.header {
    text-align: center; /* Center align the header */
}