
.completed{
    text-decoration-line: line-through;
}

h1{
    font-family: 'Patrick Hand', cursive;
}

.main {
    max-width: 62%; /* Adjust maximum width to fit mobile screens */
}

.main-container{
    margin-top: -20px;
}

.selectall{
    margin-top: -30px;
}

.dateClass{
    font-size: 1em;
    float: right;
    margin-right: 20px;
    color: rgb(16, 2, 65);
    padding: 0 10px;
    border-radius: 20px;
    margin-top: 3px;
}
.bdrRadius{
    border-radius: 20px;
    background-color: burlywood;
}
.pd{
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
    color: #1a1614; /* or any other color */
  }
  
  
.mr{
    margin: 2px;
}

.small-dropdown {
    width: 133px;
    height: 38px;
    font-size: 16px
}

.divLine {
    display: flex;
    margin-left: 17px;
    margin-bottom: 10px;
}

.line {
    flex: 1;
}
.datecls{
    display: flex;
}
.dateline{
    flex: 1;
    white-space: nowrap;
    text-align: right;
    margin-left: 2px;
}

.mb{
    margin-bottom: -34px;
}

.containerpg{
    display: flex;
}

.btClass{
    flex: 1;
    border: 1px;
}
.pending{
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

.inprogress{
    border-radius: 20px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
}

.table{
    background-color: white;
}
@media only screen and (max-width: 768px) {
    table{
        width: auto;
        border-collapse: collapse;
    }
    th, td {
    padding: 8px; /* Add padding for better spacing */
    text-align: left; /* Align text to the left */
  }
  th {
    font-size: 14px; /* Decrease font size */
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Hover effect */
  tr:hover {
    background-color: #d86363; /* Change background color on hover */
  }
    .main {
      /* Adjust maximum width to fit mobile screens */
      max-width: 100%;
      margin-right: 68px;
    
  }
}
  
  .mobile-element {
    max-width: 100%; /* Set maximum width to 100% */
    height: auto; /* Adjust height to auto for responsiveness */
    
}

.table {
    width: 100%; /* Make the table width 100% */
}
.header {
    text-align: center; /* Center align the header */
    margin-top: 0px;
    margin-bottom: 20px;
}

.hidden{
    display: none;
}

.btnclass{
    margin: 2px;
    padding: 3px;
    margin-left: 15px;

}
td.text-center {
    text-align: center; /* Horizontal centering */
    vertical-align: middle; /* Vertical centering */
  }