<div class="datecls">
  <div class="dateline" *ngIf="getSelectedRowCount() != 0">
    <span>
        <i class="fa fa-trash"  (click)="openDeleteModalbyId('deleteModalIdbyId')" data-toggle="tooltip"
        data-placement="top"
        title="Delete all selected items"> Delete</i> 
        <p class="btn btnclass bdrRadius" (click)="selectAll($event)" data-toggle="tooltip"
        data-placement="top"
        title="Remove all selected items">
          <i class="fas fa-times" style="margin-right: 5px" (click)="selectAll($event)"></i
          >{{ getSelectedRowCount() }} Selected
        </p>
    </span>
  </div>
  <div class="dateClass dateline">
    <span
      ><i class="fa fa-calendar"></i> Date:
      {{ today | date : "shortDate" }}</span
    >
  </div>
</div>

  <div class="container main">
    <div class="header">
      <h1>TODO LIST <i class="fa fa-pencil"></i></h1>
    </div>
    <div class="main-container">
      <div
        *ngIf="toDoList.length != 0"
      >
        <!-- Select All -->
        <!-- <span *ngIf="!checkboxValue" class="dateClass pd">
          <label class="checkbox-inline"
            ><input
              type="checkbox"
              [(ngModel)]="checkboxValue"
              (change)="onCheckboxChange()"
            />
            <span> Mark All completed</span>
          </label>
        </span>
        <span
          *ngIf="checkboxValue"
          class="dateClass pd"
          data-toggle="tooltip"
          data-placement="top"
          title="Toggle remove filter"
        >
          <label class="checkbox-inline"
            ><input
              type="checkbox"
              [(ngModel)]="checkboxValue"
              (change)="onCheckboxChange()"
            />
            <span> Unmark All completed</span>
          </label>
        </span> -->
        <!-- End Select All -->
        <!-- Table -->
        <div class="table-responsive">
        <table class="table table-light">
          <!-- Table header -->
          <thead class="table-dark">
            <tr>
              <th scope="col" class="text-center">
                <input
                  type="checkbox"
                  class=""
                  id="selectAllCheckbox"
                  [checked]="checkedAll"
                  (change)="selectAll($event)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Toggle selection for all items"
                />
              </th>
              <!-- <th scope="col" class="text-center">Id</th> -->
              <th scope="col" class="text-center">Task Name</th>
              <th
                scope="col"
                class="text-center"
                data-toggle="tooltip"
                data-placement="top"
                title="Toggle filter for Status"
              >
                <select id="inputStatus" (change)="selectOptionStatus($event)">
                  <!-- default option selected -->
                  <option class="text-center" selected hidden>Status</option>
                  <!-- dynamic dropdown values shows here -->
                  <ng-container *ngFor="let option of dropdownOptions">
                    <!-- option value bind using value [value]="option" -->
                    <option
                      [style.background-color]="
                        option === 'Completed'
                          ? 'green'
                          : option === 'Pending'
                          ? 'red'
                          : 'rgb(229 222 38)'
                      "
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </ng-container>
                </select>
              </th>
              <th scope="col" class="text-center">DeadLine</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <!-- table data show here -->
          <!-- Also Added pagination -->
          <tbody
            *ngFor="
              let task of filterItems()
                | paginate : { itemsPerPage: count, currentPage: p };
              let i = index
            "
          >
            <!-- text-decoration-line apply here -->
            <tr [class.completed]="task.taskStatus == 'Completed'">
              <td scope="row" class="text-center">
                <input
                  type="checkbox"
                  [checked]="isSelected(task.id)"
                  (change)="toggleSelection($event, task.id)"
                />
              </td>
              <!-- <td scope="row" class="text-center">{{ task.id }}</td> -->
              <td class="text-center">{{ task.taskName }}</td>
              <!-- option selection here dynamic and color apply dynamc on selected option-->
              <td class="text-center">
                <select
                  id="inputStatus"
                  class="form-select text-center small-dropdown"
                  (change)="selectOption($event, task.id)"
                  [style.background-color]="
                    task.taskStatus === 'Completed'
                      ? 'green'
                      : task.taskStatus === 'Pending'
                      ? 'red'
                      : 'rgb(229 222 38)'
                  "
                >
                  <!-- default option selected -->
                  <!-- hide default value from dropdown -->
                  <option class="text-center" selected hidden>
                    {{ task.taskStatus }}
                  </option>
                  <!-- dynamic dropdown values shows here -->
                  <ng-container *ngFor="let option of dropdownOptions">
                    <!-- option value bind using value [value]="option" -->
                    <option
                      [style.background-color]="
                        option === 'Completed'
                          ? 'green'
                          : option === 'Pending'
                          ? 'red'
                          : 'rgb(229 222 38)'
                      "
                      [value]="option"
                      *ngIf="task.taskStatus != option"
                      [class.hidden]="option === 'All'"
                    >
                      {{ option }}
                    </option>
                  </ng-container>
                </select>
                <!-- end selection option here -->
              </td>
              <td class="text-center">{{ task.date | date : "short" }}</td>
              <td class="text-center">
                <!-- open modal here for on button click and disable on completed -->
                <button
                  [disabled]="task.taskStatus == 'Completed'"
                  class="btn btn-success mr"
                  (click)="openModal('editModal')"
                  (click)="GetToDoDataById(task.id)" data-toggle="tooltip"
                  data-placement="top"
                  title="Edit item"
                >
                  <i class="fa fa-edit"> </i>
                </button>
                <!-- open delete model  -->
                <button
                  class="btn btn-danger"
                  (click)="openDeleteModal('deleteModal', task.id)" data-toggle="tooltip"
                  data-placement="top"
                  title="Delete item"
                >
                  <i class="fa fa-trash"> </i>
                </button>
              </td>
            </tr>
          </tbody>
          <div *ngIf="filterItems().length == 0">No Record Found</div>
        </table>
      </div>
      </div>
      <div class="containerpg">
        <!-- Add task button-->
        <div class="btClass">
          <!-- open add task Model on button click -->
          <button
            type="button"
            class="btn btn-success"
            (click)="openModal('AddModal')"
          >
            Add Task
          </button>
        </div>
        <!-- //pagination -->
        <div class="btClass" *ngIf="filterItems().length != 0">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>

    <!-- Empty Messsage -->
    <div *ngIf="toDoList.length == 0">
      <h1>No Data found!</h1>
    </div>
    <!-- All Task completed message -->
    <div *ngIf="checkboxValue">
      <h1>Yey! All task has been completed 👻</h1>
    </div>
    <div class="divLine" *ngIf="filterItems().length != 0">
      <!-- All Pending task message -->
      <div
        class="line pending"
        *ngIf="toDoList.length - PendingTask - InProgressTask != 0"
      >
        <h1 *ngIf="!checkboxValue">
          All Pending Task
          {{ toDoList.length - PendingTask - InProgressTask }}
        </h1>
      </div>
      <!-- All In-Progress Message -->
      <div class="line inprogress" *ngIf="InProgressTask != 0">
        <h1 *ngIf="!checkboxValue">
          All In-Progress Task {{ InProgressTask }}
        </h1>
      </div>
    </div>
  </div>


<!----------------------------- Modal for Add task ---------------------------------->
<!-- Id is compulsary  -->
<div
  class="modal"
  id="AddModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h1 class="modal-title">Add Task</h1>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal('AddModal')"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- form here -->
        <form [formGroup]="AddTaskForm">
          <div class="col-md-12">
            <label for="Id" class="form-label">ID</label>
            <input
              #numericInput
              (keypress)="onKeyPress($event)"
              type="text"
              class="form-control allow-numeric-id"
              id="Id"
              formControlName="Id"
              [ngClass]="{
                'is-invalid':
                  (AddTaskForm.get('Id')?.dirty ||
                    AddTaskForm.get('Id')?.touched) &&
                  AddTaskForm.get('Id')?.errors
              }"
            />
            <span class="error-id" style="color: red; display: none"
              >* only number (0 - 9)</span
            >
            <!-- <div
              *ngIf="(AddTaskForm?.get('Id')?.dirty || AddTaskForm.get('Id')?.touched) && AddTaskForm?.get('Id')?.errors"
              class="invalid-feedback">
              <div *ngIf="AddTaskForm?.get('Id')?.errors?.['required']">Id is required</div>
             


            </div> -->
          </div>
          <div class="col-md-12">
            <label for="TaskName" class="form-label">Task Name</label>
            <input
              type="text"
              class="form-control"
              id="TaskName"
              formControlName="TaskName"
              [ngClass]="{
                'is-invalid':
                  (AddTaskForm.get('TaskName')?.dirty ||
                    AddTaskForm.get('TaskName')?.touched) &&
                  AddTaskForm.get('TaskName')?.errors
              }"
            />
            <div
              *ngIf="
                (AddTaskForm?.get('TaskName')?.dirty ||
                  AddTaskForm.get('TaskName')?.touched) &&
                AddTaskForm?.get('TaskName')?.errors
              "
              class="invalid-feedback"
            >
              <div *ngIf="AddTaskForm?.get('TaskName')?.errors?.['required']">
                TaskName is required
              </div>
              <div *ngIf="AddTaskForm?.get('TaskName')?.errors?.['pattern']">
                TaskName must be a Character
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="inputStatus" class="form-label">Status</label>
            <select
              id="inputStatus"
              class="form-select"
              (change)="selectOption($event, Id)"
            >
              <option selected>Choose...</option>
              <option
                *ngFor="let option of dropdownOptions"
                [value]="option"
                [class.hidden]="option === 'All'"
              >
                {{ option }}
              </option>
            </select>
          </div>
          <div class="col-md-12">
            <label for="inputDeadLine" class="form-label">Date</label>
            <input
              type="date"
              class="form-control"
              id="inputDate"
              placeholder="date"
              formControlName="Date"
            />
            <label for="inputDeadLine" class="form-label">Time</label>
            <input
              type="time"
              class="form-control"
              id="inputDate"
              placeholder="time"
              formControlName="Time"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- close model on button click -->
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeModal('AddModal')"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <!-- getting data from modal  -->
        <button
          type="submit"
          class="btn btn-primary"
          (click)="addToDoTask(AddTaskForm.value)" 
          [disabled]="!AddTaskForm.valid"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Edit task -->
<div
  class="modal"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h1 class="modal-title">Edit Task</h1>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal('editModal')"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AddTaskForm">
          <div class="form-group">
            <label for="id">Id</label>
            <input
              type="text"
              class="form-control"
              id="Id"
              formControlName="Id"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="taskName">Task Name</label>
            <input
              type="text"
              class="form-control"
              id="TaskName"
              formControlName="TaskName"
              [ngClass]="{
                'is-invalid':
                  (AddTaskForm.get('TaskName')?.dirty ||
                    AddTaskForm.get('TaskName')?.touched) &&
                  AddTaskForm.get('TaskName')?.errors
              }"
            />
            <div
              *ngIf="
                (AddTaskForm?.get('TaskName')?.dirty ||
                  AddTaskForm.get('TaskName')?.touched) &&
                AddTaskForm?.get('TaskName')?.errors
              "
              class="invalid-feedback"
            >
              <div *ngIf="AddTaskForm?.get('TaskName')?.errors?.['required']">
                TaskName is required
              </div>
              <div *ngIf="AddTaskForm?.get('TaskName')?.errors?.['pattern']">
                TaskName must be a Character
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputStatus">Status</label>
            <select
              id="inputStatus"
              class="form-select"
              (change)="selectOption($event, Id)"
            >
              <option selected>{{ TaskStatus }}</option>
              <ng-container *ngFor="let option of dropdownOptions">
                <option
                  [value]="option"
                  *ngIf="TaskStatus != option"
                  [class.hidden]="option === 'All'"
                >
                  {{ option }}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="form-group">
            <label for="inputDeadLine">DeadLine Date</label>
            <input
              type="datetime-local"
              name="date"
              class="form-control"
              id="inputDeadLine"
              formControlName="Date"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeModal('editModal')"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateToDoTask(AddTaskForm)"
          [disabled]="!AddTaskForm.valid"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Delete task id by id -->
<div class="modal" id="deleteModalIdbyId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal('deleteModalIdbyId')"
          >
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete ?</p>

      </div>
      <div class="modal-footer">
        <div class="">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal('deleteModalIdbyId')">No</button>
        </div>
        <button type="submit" class="btn btn-danger "  (click)="deleteToDoTaskIdbyId()" data-bs-dismiss="modal"
          (click)="closeModal('deleteModalIdbyId')">
          Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for Delete task -->
<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal('deleteModal')"
          >
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete ?</p>

      </div>
      <div class="modal-footer">
        <div class="">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal('deleteModal')">No</button>
        </div>
        <button type="submit" class="btn btn-danger " (click)="deleteToDoTask(deletedId)" data-bs-dismiss="modal"
          (click)="closeModal('deleteModal')">
          Yes</button>
      </div>
    </div>
  </div>
</div>
